
/* Gradient backgrounds */
.bg-gradient-mesh {
  background-color: hsla(195, 85%, 41%, 0.05);
  background-image: radial-gradient(at 40% 20%, hsla(195, 85%, 41%, 0.05) 0px, transparent 50%),
                    radial-gradient(at 80% 0%, hsla(195, 50%, 41%, 0.05) 0px, transparent 50%),
                    radial-gradient(at 0% 50%, hsla(195, 85%, 41%, 0.05) 0px, transparent 50%),
                    radial-gradient(at 80% 50%, hsla(195, 50%, 41%, 0.05) 0px, transparent 50%),
                    radial-gradient(at 0% 100%, hsla(195, 85%, 41%, 0.05) 0px, transparent 50%),
                    radial-gradient(at 80% 100%, hsla(195, 50%, 41%, 0.05) 0px, transparent 50%),
                    radial-gradient(at 50% 50%, hsla(195, 85%, 41%, 0.05) 0px, transparent 50%);
}

.dark .bg-gradient-mesh {
  background-color: hsla(195, 70%, 45%, 0.03);
  background-image: radial-gradient(at 40% 20%, hsla(195, 70%, 45%, 0.03) 0px, transparent 50%),
                    radial-gradient(at 80% 0%, hsla(195, 40%, 45%, 0.03) 0px, transparent 50%),
                    radial-gradient(at 0% 50%, hsla(195, 70%, 45%, 0.03) 0px, transparent 50%),
                    radial-gradient(at 80% 50%, hsla(195, 40%, 45%, 0.03) 0px, transparent 50%),
                    radial-gradient(at 0% 100%, hsla(195, 70%, 45%, 0.03) 0px, transparent 50%),
                    radial-gradient(at 80% 100%, hsla(195, 40%, 45%, 0.03) 0px, transparent 50%),
                    radial-gradient(at 50% 50%, hsla(195, 70%, 45%, 0.03) 0px, transparent 50%);
}

/* Hide scrollbar but allow scrolling */
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em rgba(0, 153, 255, 0.67));
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em rgba(97, 218, 251, 0.67));
}
